@page
@model Site_Try.Pages.IndexModel
@{
}

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>АРХИТЕКТУРНАЯ МАСТЕРСКАЯ</title>
	<link rel="stylesheet" href="./css/site.css">
</head>

<body>
	<div class="container">
		<header class="header">
			<div class="wrapper">
				<div class="header_logo">
					<a href="/" class="header_logo_ink">
						<img src="./image/Home Studio.svg" alt="АРХИТЕКТУРНАЯ МАСТЕРСКАЯ" class="header_logo_pic">
					</a>
				</div>

				<nav class="header_nav">
					<ul class="header_list">
						<li class="header_item">
							<a href="#!" class="header_link_en">En</a>
						</li>

						<li class="header_item">
							<a href="#!" class="header_link_ru">Ru</a>
						</li>

						<li class="header_item">
							<a href="#!" class="header_link">Позвонить</a>
						</li>
						<li class="header_item">
							<img src="./image/3 lines.png" alt="" class="header_link">
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="outer_container">
			<h1 class="intro_title">АРХИТЕКТУРНАЯ<br>МАСТЕРСКАЯ</h1>

			<h3 class="intro_subtitle">Cтроительные работы высоких стандартов качества,<br>
				разрабатываем и воплощаем дизайн-проект<br>
				интерьера в уникальной стилистике</h3>

			<img src="./image/Image1.png" alt="" class="first_image">
			<div class="first_text">
				<div class="first_text_first_row_div">
					<li class="first_text_first_row">Философия наших проектов</li>

					<li class="first_text_first_row">Ваш дом идеально<br>
						вписанный в пейзаж</li>
				</div>
				<div class="first_text_second_row_div">
					<li class="first_text_second_row">Спроектированные нами дома, всегда<br>
						неповторимы и являются отражением<br>
						своих владельцев. Сочетаем лучшие<br>
						материалы и изысканный дизайн.</li>

					<li class="first_text_second_row">Мы делаем проекты интерьеров,<br>экстерьеров,
						но никогда не показываем<br>
						их эскизы или реализацию в публичном<br>
						пространстве.</li>
				</div>
			</div>
			<img src="./image/Image2.png" alt="" class="second_image">
			<div class="second_text">
				<div class="second_text_first_row">
					<p class="second_text_first_row_text">Наши услуги</p>
				</div>
				<div class="second_text_second_row">
					<li class="second_text_second_row_list">
						<div class="second_text_second_row_list_item">
							<p class="second_text_second_row_num">01</p>
							<p class="second_text_second_row_text">Архитектурное поектировние</p>
						</div>

						<div class="second_text_second_row_list_item">
							<p class="second_text_second_row_num">02</p>
							<p class="second_text_second_row_text">Строительство загородных домов</p>
						</div>

						<div class="second_text_second_row_list_item">
							<p class="second_text_second_row_num">03</p>
							<p class="second_text_second_row_text">Планировка пространства</p>
						</div>

						<div class="second_text_second_row_list_item">
							<p class="second_text_second_row_num">04</p>
							<p class="second_text_second_row_text">Дизайн интерьеров и экстерьеров</p>
						</div>
					</li>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
